.about-page {
    padding: 20px 20px 20px 20px;
    margin: 25px 15px 25px 15px;
    border-radius: 1em;
    border: solid #98c474 1px;
    display: flex;
    color: #17191b;
}

.about-logo {
    width: 64px;
    margin-top: 5px;
}

.about-title {
    margin-top: 20px;
    color: #98c474;
}

.about-content {
    padding: 20px 20px 20px 20px;
    margin: 25px 15px 25px 15px;
    border-radius: 1em;
    color: #17191b;
    font-size: 18px;
    box-shadow: rgba(152 , 196, 116, 0.25) 0px 4px 8px -2px, rgba(152 , 196 ,116, 0.08) 0px 0px 0px 1px;
}

.rontekhne-link {
    text-decoration: none;
    color: #98c474;
}
